#jinja2: trim_blocks:False
{
  "CN": "etcd",
  "hosts": [
    "localhost",
    "127.0.0.1",
    "{{ hostvars['etcd1'].ansible_host }}",
    "{{ hostvars['etcd2'].ansible_host }}",
    "{{ hostvars['etcd3'].ansible_host }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "GB",
      "L": "England",
      "O": "Kubernetes",
      "OU": "etcd",
      "ST": "Cambridge"
    }
  ]
}